<style>
    .eqBox{
        background-color: var(--pure-white);
        border-radius: 9px;
        width: 230px;
        height: 34px;
        margin: 10px;
    }
    .equationTypes {
        text-align: center;
        list-style-type: "";
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding:2px;
    }
    .equationTypes li{
        width: 50px;
        height: 28px;
        border-radius: 6px;
        border-color: var(--dark-color);
        border-width: 3px;
        margin: 1.5px;
    }

    :root {
        --white-text: #D0D0DB;
        --dark-gray: #373540;
        --extra1: #FF9EAB;
        --extra2: #ffbc93;
        --extra3: #FFE69E;
        --extra4: #b2ffac;
        --extra5: #9EE6FF;
        --extra6: #bdb7ff;
        --extra7: #ffbef0;

        /*BASE*/
        --pure-white: #f9f2f5;

        /*MATH THEME*/
        --dark-pink: #eb64b8;
        --light-pink: #f9d5e1;
        --bubble-pink: #f8e5f2;
        --ray-green: #a4cfb5;
        --chalk-green: #e4ebc0;
        --black-purple: #5a3e79;
        --dark-purple:#816add;
        --light-purple: #e5cff2;
        --dark-dino: #6a77be;
        --dino-blue: #98acf7;
        --sky-blue: #98c9f9;
        --pleasant-yellow: #f3e4c0;
        --bright-cyan: #aff3e7;
    }
</style>

<div class="eqBox">
    <u1 class="equationTypes">
        <li style="background-color: var(--dark-dino);">1</li>
        <li style="background-color: var(--dark-pink);">L</li>
        <li style="background-color: var(--pleasant-yellow);">A</li>
        <li style="background-color: var(--ray-green);">I</li>
        <li style="background-color: var(--dark-purple);">ODE</li>
        <li style="background-color: var(--dark-gray);">C</li>
    </u1>
</div>
