<style>
    .eqBox{
        background-color: var(--post-bg);
        border-radius: 9px;
        width: 230px;
        height: 34px;
        margin: 10px;
    }
    .equationTypes {
        text-align: center;
        list-style-type: "";
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding:2px;
    }
    .equationTypes li{
        width: 50px;
        height: 28px;
        border-radius: 6px;
        border-color: var(--dark-color);
        border-width: 3px;
        margin: 1.5px;
    }
</style>

<div class="eqBox">
    <u1 class="equationTypes">
        <li style="background-color: var(--extra1);">1</li>
        <li style="background-color: var(--extra2);">L</li>
        <li style="background-color: var(--extra3);">A</li>
        <li style="background-color: var(--extra4);">I</li>
        <li style="background-color: var(--extra5);">ODE</li>
        <li style="background-color: var(--extra6);">C</li>
    </u1>
</div>
