/*FONTS*/
@font-face {
  font-family: myBasicHeart; 
  src: url('/parts/secrets/fonts/myBasicHeart.ttf') format('truetype');
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: myBasicHeart;
}
h2{
    color: var(--dark-pink);
}

/*PAGE LAYOUT*/
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.container{
    display: grid;
    min-height:100vh;
    height: auto;
    grid-template-columns: 0.9fr 2.7fr 1fr;
    grid-template-rows: auto auto auto 0.1fr 1fr 0.2fr 0.8fr ;
    gap: 10px;
    padding: 1vh 1vw;
    background: var(--light-pink);
    grid-template-areas:
        "imageBar imageBar imageBar"
        "boxBar navBar ."
        "roomBar main dialougeBar"
        "roomBar main upNextBar"
        "studyBar main upNextBar"
        "studyBar main upNextBar"
        "studyBar main upNextBar"
}

/*HEADER */
#imageBar{
    background: var(--sky-blue);
    grid-area: imageBar;
    height: 300px;
    position: relative; 
    overflow: hidden; 
    border-radius: 20px; 
}
#imageBar img {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(0.1);
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 1000%;
}

/*STICKY BOXES*/ 
#navBar, #boxBar, #roomBar, #studyBar, #dialougeBar, #upNextBar {
    align-self: start; 
    position: sticky;
}
#navBar{
    background: var(--bubble-pink);
    grid-area: navBar;
    height: 40px;
    top: 10px;
    border-radius: 15px;
}
#boxBar{
    background: var(--dino-blue);
    grid-area: boxBar;
    height: 40px;
    top: 30px;
}
#roomBar{
    background: var(--dino-blue);
    grid-area: roomBar;
    top: 80px;
    height: 400px;
}
#studyBar{
    background: var(--dino-blue);
    grid-area: studyBar;
    top: 506px;
    height: 40px;
}
#dialougeBar{
    background: var(--dino-blue);
    grid-area: dialougeBar;
    height: 160px;
    top: 30px;
}
#upNextBar{
    background: var(--dino-blue);
    grid-area: upNextBar;
    top: 200px;
    height:200px;
}

/*CHAPTER HEADER*/
.chapterHeader {
    margin-inline: 12px;
    display: grid;
    grid-template-columns: 85px 15px 0.5fr 0.2fr 0.5fr;
    grid-template-rows: 20px 80px 5px 50px 10px;
    grid-template-areas: 
        "chapterSquareGrid . . . ."
        "chapterSquareGrid . chapterTitleGrid chapterNameGrid chapterNameGrid"
        "chapterSquareGrid . . . ."
        "chapterSquareGrid . partNameGrid partNameGrid classifierGrid"
        ". . partNameGrid partNameGrid classifierGrid";
}
#chapterSquareGrid{
    background-color: var(--pure-white);
    grid-area: chapterSquareGrid;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    text-align: center;
    font-size: 40px;
}
#chapterTitleGrid{
    grid-area: chapterTitleGrid;
    font-size: 30px;
}
#chapterNameGrid{
    grid-area: chapterNameGrid;
    font-size: 15px;
}
#partNameGrid{
    grid-area: partNameGrid;
}
#classifierGrid{
    grid-area: classifierGrid;
}

/*CONTENT AREA*/
#section {
    background-color: var(--pure-white);
    padding: 20px;
    margin: 20px;
    border-radius: 0.8em;
}
#content{
    background: rgba(255, 255, 255, 0.4);
    grid-area: main; 
    border-radius: 20px; 

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*LEFT SIDEBAR*/
#boxBar, #roomBar, #studyBar{
    width: 250px;
}

/*RIGHT SIDEBAR*/
#dialougeBar, #upNextBar{
    width: 250px;
}

/*NAVIGATION*/
#navBar{
    display: flex;
}
#navBar div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/*ROOM*/
#roomBar {
    background-color: var(--dark-gray);
    box-shadow: 2px 2px 6px #2d2c2c;
    border-radius: 0.8em;
    padding: 0.5em 0px;
}
details {
    display: block;
}
#roomMap{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#mapBox{
    background-color: var(--extra7);
    height: 100px;
    width: 100px;
    border-radius: 12px;
    margin: 10px;
}
#roomDesc{
    font-size: 15px;
    color: var(--white-text)
}
#timeArea{
    height: 50px;
    text-align: center;
    font-size: 50px;
}
.tools {
    text-align: center;
    list-style-type: "";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-inline:10px;
    padding: 0px;
}
.tools li{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin: 4px;
}
#infobox{
    margin-inline: 10px;
    color: var(--white-text);
    font-size: 14px;
}

/*TEXT FORMATTING*/
.grnHighlight {
    color: #61c647;
    font-weight: bold; 
}

:root {
    --white-text: #D0D0DB;
    --dark-gray: #373540;
    --extra1: #FF9EAB;
    --extra2: #ffbc93;
    --extra3: #FFE69E;
    --extra4: #b2ffac;
    --extra5: #9EE6FF;
    --extra6: #bdb7ff;
    --extra7: #ffbef0;

    /*BASE*/
    --pure-white: #f9f2f5;

    /*MATH THEME*/
    --dark-pink: #eb64b8;
    --light-pink: #f9d5e1;
    --bubble-pink: #f8e5f2;
    --ray-green: #a4cfb5;
    --chalk-green: #e4ebc0;
    --black-purple: #5a3e79;
    --dark-purple:#816add;
    --light-purple: #e5cff2;
    --dark-dino: #6a77be;
    --dino-blue: #98acf7;
    --sky-blue: #98c9f9;
    --pleasant-yellow: #f3e4c0;
    --bright-cyan: #aff3e7;
}